.home {
    background-color: #323437;
}

.navbar {
    text-align: center;
    padding-top: 2rem;
}

.nav-link {
    font-size: 18px;
    padding: 0 .5rem;
    text-decoration: none;
    color: #d1d0c5;
    text-transform: uppercase;
    transition: all 1s;
    font-family: 'Courier New', Courier, monospace;
}

.nav-link:hover {
    color: #e2b714;
}

#home-nav-link {
    color: #e2b714;
}