* {
    color: #d1d0c5;
    padding: 0 1rem;
}

.background {
    background-color: #323437;
}

.min-height {
    height: calc(100vh - 54px);
}

.navbar {
    text-align: center;
    padding-top: 2rem;
}

.nav-link {
    font-size: 18px;
    padding: 0 .5rem;
    text-decoration: none;
    text-transform: uppercase;
    transition: all 1s;
    font-family: 'Courier New', Courier, monospace;
}

.nav-link:hover {
    color: #e2b714;
}

#active-nav-link {
    color: #e2b714;
}

/* footer section styling */
footer {
    padding: 15px 23px;
    font-size: 13px;
    color: #646669 !important;
    margin-bottom: -2rem;
    text-align: center;
}

footer span {
    color: #7b7c7c;
    text-decoration: none;
    padding: 0;
}

footer span a:hover {
    text-decoration: underline;
}